/* The sidepanel menu */
.sidepanel {
    height: 525px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 5px 12px;
    margin-left: 37px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#Beaker1
{
    position: absolute;
    left: 524px;
    top: 130px;
    z-index: 1;
}

/* This is styling for left side navigation-bar solid */
#leftside-nav-solid {
    overflow-x: hidden;
    border: 5px solid black;
    width: 250px;
    height: 100px;
    background-color: #e9e0d2;
    position: absolute;
    top: 45px;
    left: 45px;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 18px;
}

#changepanelsolid,
#changepanelliquid {
    display: none;
    border: 5px solid black;
    width: 250px;
    height: 420px;
    background-color: #e9e0d2;
    position: absolute;
    top: 145px;
    left: 45px;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 18px;
}

/* This is styling for left side navigation-bar liquid */
#leftside-nav-liquid {
    display: none;
    width: 250px;
    height: 500px;
    background-color: #e9e0d2;
    position: absolute;
    top: 30px;
    left: 45px;
    overflow: scroll;
    overflow-x: hidden;
    border: 7px groove #e9e0d2;
    padding-left: 10px;
    padding-top: 20px;
    font-size: 18px;
}


/* This is styling for specific heat of calorimeter */
#methodselector {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 15px;
}

/* This is styling for Material of calorimeter  */
#materialofcalorimeter ,#materialofcalorimeter_l{

    padding-left: 5px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 8px;
    margin-top: 10px;
    margin-left: 10px;
}

#materialofsolid , #materialofsolid_l , #materialofliquid_l{

    padding-left: 10px;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 10px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 1px;
}

/* This is styling Mass of the calorimeter */
/* This is styling Mass of the Water */
/* This is for Temparature of the Water */
/* This is for mass of solid */
#massofcalorimeter,
#massofwater,
#tempofwater,
#massofsolid,
#tempofsolid,
#massofcalorimeter_l,
#massofliquid_l,
#tempofliquid_l,
#massofsolid_l,
#tempofsolid_l  {
    margin: 10px;
    margin-left: 40px;
    display: block;
}

.rightside-nav {
    width: 920px;
    height: 545px;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 30px;
    left: 330px;
    border: 5px double #999;
    background-image: url('Images/BG2.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1260px;
}

.bottom-nav {
    background: linear-gradient(180deg, #4f1313, #4f1313);
    height: 180px;
    width: 919px;
    position: absolute;
    position: fixed;
    left: 335px;
    top: 398px;
}

#weightingmachine {
    position: absolute;
    top: 400px;
    left: 350px;
}

#checkweight {
    height: 260px;
    width: 195px;
    z-index: 1;
    padding-top: 180px;
    position: absolute;
    top: 49px;
    left: 33px;
}

/* This is to display weight */
#displayweight
{
    position: absolute;
    top: 419px;
    border-radius: 5px;
    left: 72px;
    z-index : 1;
    height: 20px;
    width: 59px;
    font-size: large;
    padding-top: 2px;
    padding-left: 20px;
    background-color:aqua;
}

/* This is Image of the Dropper */
#dropperimg
{
    position: absolute;
    left: 320px;
    top: 275px;
    z-index: 1;
    transform: rotate(20deg);
}

/* This is styling for the Droplets */
#droplet1
{
    position: absolute;
    display: none;
    left: 130px;
    top: 203px;
    animation: mymove 1s infinite;
    animation-delay: 0s;
}
@keyframes mymove {
    from {top: 203px;}
    to {top: 300px;}
}

/* styling for insulaton box */
#insulationbox
{
    position: absolute;
    top: 70px;
    left: 120px;
    z-index:1 ;
}

/* Top wood */
#topwood
{
    position: absolute;
    top: 319px;
    left: 385px;
    z-index:1;
}

/* this is to close the insulation box */
#insulationclose
{
    position: absolute;
    z-index: 1;
    top: 350px;
    left: 377px;
}

/* Drop calorimeter into insulation Box */
#dropintoinsulationbox
{
    height: 500px;
    width: 215px;
    /* background-color: aqua; */
    position: absolute;
    left: 690px;
    top: 40px;
    display: inline;

}

/* Laboratory Stand  */
#laboratorystand
{
    position: absolute;
    left: 550px;
    top: 30px;
    z-index: 1;
}

/* Tripod stand */
#tripod_stand
{
    position: absolute;
    left: 651px;
    top: 355px;
    z-index: 1;
}

#bunsenburner
{
    position: absolute;
    top: 370px;
    z-index: 1;
    left: 700px;
}

#dropbeakeronbunsen
{
    position: absolute;
    padding-top: 20px;
    border: 2px solid rgb(255, 255, 255);
    width: 200px;
    z-index: 1;
    height: 270px;
    top: 140px;
    right: 100px;
}

#Beaker2
{
    margin-left: 622px;
    margin-top: 110px;
    z-index: 2;
}
#water2
{
    margin-left: 690px;
    margin-top: -15px; 
    z-index: -3;
}

/* This is styling for the flame */
#scene1flame1
{
    margin-left: 740px;
    margin-top: 320px;
    display: none;
}
/* This is for the hidden calorimeter */
#hiddencalorimeter
{
    display: none;
    position: absolute;
    left:369px;
    top:265px;
    animation: mymove1 1s infinite;
    animation-delay: 0s;
}
@keyframes mymove1 {
    from {top: 265px;}
    to {top: 300px;}
}